ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3a8cd9;
    display: inline-block;
  }
  
  .nav2{
    background-color: #1d4365;
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    
  }

  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
.header1{
    background-color: #3a8cd9;
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.header3{
  display: inline-block;
  position: relative;
  right: 80px;
  color: #ffffff74;
  
}

.nav1{
    border: none;
    width: fit-content;
    padding: 20px;
}

.header2{
    display: inline-block;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

.div1{
  position: relative;
  right: 230px;
  bottom: 10px;
  font-size: 20px;
}
.div2{
  position: relative;
  left: 200px;
  bottom: 50px;
}
h1{
  font-size: 60px;
  font-family: initial;
  display: inline-block;
  color: #fff;
  letter-spacing: 15px;
  margin-bottom: -5px;
}

.button1{
  background-color: #3a8cd9;
  border: solid #fff;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: #fff;
  margin-right: 15px;
  font-size: 15px;
}
#search{
  background-color: #3a8cd9;
  border: solid #fff;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: #fff;
}
#link12{
  color: #fff;
  text-decoration: none;
}
::placeholder {
  color: rgb(249, 249, 249);
  font-size: 18px;
  text-align: center;
}
.lili{
  width: 300px;
  border-left: solid rgba(125, 124, 124, 0.785);
  border-right: solid  rgba(125, 124, 124, 0.785);
}

#background{
  margin-left: 1.5%;
  margin-right: 4%;
  margin-top: 70px;
  filter: brightness(50%);
  width: 130%;
}

.photo1{
  color: #fff;
  font-size: 60px;
  text-align: center;
}

#bordertop{
  border-top:  solid white;
  font-size: 90px;
  font-family: monospace;
  width: 800px;
  position: absolute;
  top: 220px;
  left: 350px;
}

#borderbottom{
  border-bottom: solid white;
  width: 800px;
  position: absolute;
  top: 330px;
  left: 350px;
}
.parent{
  width: fit-content;
  position: relative;
}
.green{
  background: rgb(120, 179, 65);
  margin: 19px;
  padding: 25px;
}

#move1{
  color: #fff;
  font-size: 60px;
  display: inline-block;
  font-family: serif;
}
#move2{ 
  color: #fff;
  display: inline-block;
  border: none;
  width: 880px;
  font-size: 25px;
  position: relative;
  left: 50px;
}

.divi6{
  width: 430px;
  height: 250px;
  background-color: #b0dbe984;
  margin: 20px;
  padding: 15px;
  font-size: 50px;
  display: inline-block;
  
}
.text{
  font-size: 25px;
}
#div6{
  background-color: rgb(109, 1, 109);
  font-size: 40px;
  width: 430px;
  height: 250px;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  color: #fff;
}
#div62{
  background-color: rgb(62, 130, 166);
  font-size: 40px;
  width: 430px;
  height: 250px;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  color: #fff;
}
.div6_1{
  text-decoration: none;
  color:rgb(249, 249, 249)
 
}
.divi6_1{
  text-decoration: none;
}

.mtavaridivi{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#div63{
  border: solid rgb(255, 255, 255);
  font-size: 15px;
  width: 430px;
  height: 250px;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  

}

.jan{
  border: solid #11111172;
  color: rgb(120, 179, 65);
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}
#jantext1{
 display: inline;
 color: #428fd7;
 font-size: 30px;
 position: relative;
 bottom:20px;
 left: 30px
}
#jantext2{
  display: inline-block;
  color: #428fd7;
  font-size: 20px;
  position: relative;
  bottom: 12px;
  left: 35px;
  width: 190px

 }

.divdivdiv{
  padding: 10px;
}
.grow{
  font-size: 20px;
}

.BUTTON2{
  text-align: center;
  padding: 70px;
  margin-left: 30px;
  margin-right: 40px;
  display: flex;
  gap: 70px;
}

.BUUTTOONN{
  width: 400px;
  height: 50px;
  background: #fff;
  border-color: rgb(110, 191, 228);
  border-radius: 10px;
  color: rgb(110, 191, 228);
  font-size: 20px;
}

.ulll {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.footer1{
  border: none;
  background-color: #302f2f;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 60px;
}
.footer1>*{
  flex-basis: 300px;
  color: #fff;
} 

.footerdiv{
  font-size: 20px;
  margin-top: 25px;
}

.footerdiv111{
  font-size: 15px;
  color: rgba(198, 196, 196, 0.601);
  margin-top: 10px;
}

.bolodivi{
  justify-content: center;
  border-top: solid #fff;
  color: #ffffff;
}